@import '../../../variables';
@import "../../../mixin";
.news-list-1 {
  ul {
    @include ul-list();
    li {
      background-color: white;
      padding: 8px;
      margin-bottom: 12px;
      border-radius: 1px;
      display: flex;
      flex-wrap: wrap;
      border-bottom: transparent 3px solid ;
      transition: all 1.5s;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
        border-bottom: $baseColor 3px solid ;
        box-shadow: rgba(203, 203, 203, .5) 0 1px 2px 0;
      }
      //@include line_animation(0.8s);

      h5 {
        width: 100%;
        font-size: 24px;
        margin: 0;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;

      }

      .mobile-h5 {
        font-size: 18px;
      }

      .info {
        width: 100%;
        text-align: right;
        margin-bottom: 5px;
        & > span {
          font-size: 12px;
          color: #b3b3b3;
          margin-right: 15px;

          .fa {
            margin-right: 5px;
          }
        }
      }

      .article-img {
        width: 35%;
        padding-top: 20%;
        position: relative;

        img {
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      .summary-wrapper {
        flex: 1;
        padding: 15px;
        padding-top: 0;
        height: 100%;

        .summary {
          color: gray;
          margin-top: 15px;
          height: 100%;
          overflow: hidden;
          font-size: 16px;
        }

        .mobile-summary {
          font-size: 12px;
        }
      }

    }
  }
}
.news-list-2 {
  ul {
    @include ul-list();

    li {

      //background-color: white;
      padding: 8px;
      cursor: pointer;
      border-radius: 1px;
      display: flex;
      flex-wrap: wrap;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transition: all 1.5s;
      position: relative;

      &:hover {
        background-color: #f9f9f9;
        border-left: 3px solid $baseColor;
        border-right: 3px solid $baseColor;
      }

      h5 {
        width: 100%;
        font-size: 16px;
        margin: 0;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;

      }


      .info {
        text-align: right;
        & > span {
          font-size: 12px;
          color: #b3b3b3;
          margin-right: 15px;

          .fa {
            margin-right: 5px;
          }
        }
      }


    }
  }
}
.news-list-3 {
  ul {
@include ul-list();

    li {
      @include clearfix();
      overflow: hidden;
      padding: 8px;
      cursor: pointer;
      border-radius: 1px;
      display: block;
      flex-wrap: nowrap;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transition: all 1.5s;
      position: relative;

      &:hover {
        background-color: #f9f9f9;
        border-left: 3px solid $baseColor;
        border-right: 3px solid $baseColor;
        color: $baseColor;
      }

.article-img{

  width: 15%;
  padding-top: 8%;
  position: relative;
  float: left;

  img {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

}

      .right{
        padding: 0 15px;
        width:  85%;
        position: relative;
        float: left;

        h5 {

          width: 100%;
          font-size: 18px;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

        }


        .info {
          text-align: right;
          width: 100%;
          & > span {
            font-size: 12px;
            color: #b3b3b3;
            margin-right: 15px;

            .fa {
              margin-right: 5px;
            }
          }
        }

        .type{

          text-align: right;
          width: 100%;
          font-size: 12px;
         &>span{
           color: #b3b3b3;
           margin-right: 15px;
         }

        }

      }

    }
  }
}
