

  .nav-wrapper{
    background-color: white;
    box-shadow: rgb(203, 203, 203) 0px 0px 4px;
    align-items: center;
    min-height: 60px;
    .logo{
      cursor: pointer;
      h1{
        font-size: 26px;
      }
      //background-color: aquamarine;
    }
    .nav-list{
      display: flex;
      flex-wrap: wrap;

      .li{
        padding: 0 15px;
        list-style: none;
        cursor: pointer;
        flex-shrink: 0;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s;
        &:hover{
          background-color: #e9f4ff;
        }

      }
    }


    .user-info{
      //background-color: cadetblue;
      height: 100%;
      display: flex;
     justify-items: right;
      justify-content:flex-end ;

      align-items: center;
      .avatar{
        border-radius: 50%;
       height: 30px;
        width: 30px;
        img{
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
      .username{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        padding: 0 15px;
        padding-bottom: 2px;
        &:hover{
          padding-bottom: 2px;
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }
    .mobile-menu{
      position: fixed;
      background-color: aquamarine;
      right: 10px;
      bottom: 200px;
      z-index: 10086;

    }
  }



  .login-guide{
    position: fixed;
    width: 100%;
    z-index: 1008611;
    bottom: 0;
    right: 0;
  }








