@import '../variables';

//[data-style-theme="1"]{无效
//  background-color: #005ea0;
//}
.top{
  //background-color: #505050;
  //@include bg_color($baseColor);
  box-shadow: rgb(203, 203, 203) 0px 0px 4px;
  color: white;
  border-top: 3px solid #00aa98;
  a:link,a:visited,a:active{
    color: white;
    text-decoration: none;
  }
  .nav-wrapper{

    align-items: center;
    min-height: 60px;
    .logo{
      cursor: pointer;
      h1{
        font-size: 26px;
        b{
          color: $baseColor;
        }
      }
      //background-color: aquamarine;
    }
    .nav-list{
      display: flex;
      flex-wrap: wrap;

      .li{
        padding: 0 30px;
        list-style: none;
        flex-shrink: 0;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s;
        position: relative;
    a{
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
      &:after{
        content: "";
        width:0;
        height:3px;
        background-color: #00aa98;
        position:absolute;
        left:50%;
        bottom: 0;
        transition: all 0.5s ;
      }
      &:hover:after{
        left: 0;
        width: 100%;
      }



    }
        //&:hover{
        //  background-color: #e9f4ff;
        //}

      }
    }


    .user-info{
      //background-color: cadetblue;
      height: 100%;
      display: flex;
      justify-items: right;
      justify-content:flex-end ;
      position: relative;


      align-items: center;
      .avatar{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        img{
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
      .username{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        transition: all 0.5s;
        cursor: pointer;
        padding: 0 15px;


        &:hover{

        }
        .user-dropdown{
          box-shadow: rgb(191, 191, 191) 0 1px 3px;
          position: absolute;
          top: 30px;
          right: 20px;
          background-color: white;
          width: 100px;
          z-index: 1000;
          padding: 15px;
          font-size: 0.8rem;
          box-sizing: border-box;
          li{
            list-style: none;
            width: 100%;



          }
        }

      }


    }
  }
  .change-theme{
    position: absolute;
    right: 0;
    top:0;
    button{
      background-color: transparent;
      border:none;
      color: white;
      margin: 5px;
      cursor: pointer;
    }
  }
}
  .mobile-menu{

    position: fixed;
    background-color: white;
    width:100%;
    left: 0;
    bottom: 0;
    z-index: 10086;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-shadow: black 0 20px 20px;
    .menu-primary{
      flex: 1;
      cursor: pointer;
      text-align: center;
      padding: 5px 0;
      color: gray;
      transition: all 0.3s;
      div{
        font-size: 12px;
      }
      &:hover{
        background-color: #e9f4ff;
        color: #67d1ff;
      }
    }
  }



  .login-guide{
    position: fixed;
    width: 100%;
    z-index: 1008611;
    bottom: 0;
    right: 0;
  }
  footer{
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 13px;
    color: gray;
  }








