
.main-wrapper{


  .nav-wrapper{
    background-color: white;
    box-shadow: rgb(203, 203, 203) 0px 0px 4px;
    margin-bottom: 10px;
    align-items: center;
    height: 60px;
    .logo{

      //background-color: aquamarine;
    }
    .nav-list{
      display: flex;
      flex-wrap: wrap;

      .li{
        padding: 0 15px;
        list-style: none;
        cursor: pointer;
        flex-shrink: 0;
        &:hover{
          background-color: aquamarine;
        }

      }
    }


    .user-info{
      //background-color: cadetblue;
      height: 100%;
      display: flex;
     justify-items: right;
      justify-content:flex-end ;

      align-items: center;
      .avatar{
        border-radius: 50%;
        height: 50%;
        width: 30px;
        img{
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
      .username{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        padding: 0 15px;
        padding-bottom: 2px;
        &:hover{
          padding-bottom: 2px;
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }
    .mobile-menu{
      position: fixed;
      background-color: aquamarine;
      right: 10px;
      bottom: 200px;

    }
  }

  .slider{

  }

  .login-guide{
    position: fixed;
    width: 100%;
    z-index: 1008611;
    bottom: 0;
    right: 0;
  }



}




