<div class="container-fluid main-wrapper">

  <nav class="row nav-wrapper">
    <div class="logo col-md-2">Youth</div>
    <div   class="col-md-8 hidden-xs" >
      <div class="nav-list">
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
        <div class="li">首页</div>
      </div>
    </div>
    <div class="user-info col-md-2 ">
      crayzming
      <button class="btn btn-primary">logout</button>

    </div>
  </nav>

  <div class="slider row">
    <app-carousel-config></app-carousel-config>
  </div>


</div>


<div class="login-guide">
  <app-login-guide></app-login-guide>
</div>
