<div class="container">



  <div class="row">

    <div class="d-none d-md-block col-md-3 left-side-wrapper">


      <div class="left-side news-type">
        <app-side-panel icon="fa fa-folder-open-o"  panelTitle="新闻分类" >
<ul>
  <li (click)="getNewsByType('all')">最新资讯</li>
  <li *ngFor="let  type of newsTypeList;let idx=index" (click)="getNewsByType(type.id)">{{type.typeName}}</li>
</ul>
        </app-side-panel>

      </div>

      <div class="left-side">
        <app-side-panel icon="fa fa-line-chart"  panelTitle="热门新闻">
          <app-news-list [newsList]="newsList" [type]="2" ></app-news-list>
        </app-side-panel>

      </div>
      <div class="left-side">
        <app-side-panel icon="fa fa-star"  panelTitle="推荐阅读">
          <app-news-list [newsList]="newsList" [type]="2" ></app-news-list>
        </app-side-panel>

      </div>
    </div>

    <div class="col-12 col-md-9">

      <div class="row">
        <div class="col-md-12 topList">
          <app-side-panel  icon="fa fa-flag"  panelTitle="置顶新闻">
            <app-news-list [newsList]="newsList" [type]="2" [author]=false [createTime]=false ></app-news-list>
          </app-side-panel>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 news-list-wrapper">
          <app-side-panel  icon="fa fa-flag"  panelTitle="新闻列表">
            <app-news-list [newsList]="newsList" [type]="3" ></app-news-list>
          </app-side-panel>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-top: 15px">
          <!--<select [(ngModel)]="pageInfo_pageSize" name="s111" >-->
            <!--<option value="5">5</option>-->
            <!--<option value="12">12</option>-->
          <!--</select>-->
          <!--{{pageInfo_currentPage}}-->
          <pagination [rotate] = true [maxSize]= 10  (pageChanged)="pageChanged($event)" [totalItems]="pageInfo_total" [(ngModel)]="pageInfo_currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>


</div>
