/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import'~font-awesome/scss/font-awesome.scss';
@import "mixin";


body{
  background-color: #f2f2f2;

}

.top{
  @include bg_color($baseColor-gray)
}


@media (min-width: 1200px) {
  .container{
    max-width: 1300px;
  }
}

.nav-active{
  background-color: $baseColor;
  color: white;
}


//文章包裹层
.contentWrapper{
  overflow: hidden;
  *{
    max-width: 100%;
  }

}


.btn-primary{
  background-color: $baseColor!important;
  border-color: $baseColor!important;
}
.btn-primary:not(:disabled):not(.disabled):active{
  box-shadow: 0 0 0 0.2rem lighten($baseColor,5%)!important;
}

.btn-primary:not(:disabled):not(.disabled):focus{
  box-shadow: 0 0 0 0.2rem lighten($baseColor,5%)!important;
}

.page-item.active .page-link{
  background-color: $baseColor!important;
  border-color:$baseColor!important;
  color: white!important;

}

.page-link{
  color: $baseColor!important;
}
