.container{

  .slider{
    margin: 15px 0;
  }

  @media screen and (min-width: 768px) {
    .slider{

      height: 460px;
      & /deep/ img{
        height: 460px!important;
      }

    }

  }


  .news-list-wrapper{
    .news-list{
      background-color: white;
      padding: 5px;
    }


  }

  .right-side-wrapper{
    .right-side{
      background-color: white;
      padding: 5px;
    }

  }


}
