
<div class="container-fluid">

  <div class="row">
    <div class="col-12  slider">

    </div>

  </div>
</div>
<div class="container">

  <!--<div class="row">-->
    <!--<div class="col-12  slider">-->
      <!--<app-carousel-config></app-carousel-config>-->

    <!--</div>-->

  <!--</div>-->

  <div class="row">

    <div class="col-12 col-md-9 news-list-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="slider">
            <app-carousel-config></app-carousel-config>
          </div>

        </div>
      </div>
      <div class="news-list">

        <ul>
          <li *ngFor="let item of newsList">
            <!--h4用于手机显示-->
            <h5 class="d-md-none mobile-h5">{{item.title}}</h5>
            <h5 class="d-none d-md-block">{{item.title}}</h5>
            <div class="info"><span>{{item.authorName}}</span><span>{{item.createTime | date : 'yyyy-MM-dd hh:mm '}}</span><span> <i class="fa fa-eye"></i>{{item.viewCount}}</span><span><i class="fa fa-heart"></i>{{item.likeCount}}</span></div>
            <div class="article-img"><img [src]="item.firstImg" alt=""></div>
            <div class="summary-wrapper">
              <p class="summary mobile-summary d-md-none">{{item.digest.substring(0,45)}}...</p>
              <p class="summary d-none d-md-block">{{item.digest.substring(0,150)}}...</p>
            </div>
          </li>
        </ul>


      </div>

    </div>

    <div class="d-none d-md-block col-md-3 right-side-wrapper">
      <div class="right-side">日历 签到  当前 签到人数  手机二维码广告  快捷导航  热度排行</div>
    </div>

  </div>


</div>

