

.container-fluid{

  .slider{
    margin-bottom: 15px;
    width: 100%;
    padding: 0;

  }

  @media screen and (min-width: 768px) {
    .slider{

      height: 500px;
      & /deep/ img{
        height: 500px!important;
      }

    }

  }



}
.container{


  .news-list-wrapper{
    .news-list{
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style: none;
          background-color: white;
          padding: 8px;
          cursor: pointer;
          margin-bottom: 5px;
          border-radius: 1px ;
          &:hover{
            background-color: #f6f6f6;
          }
          h5{

          }
          span{
            color: gray;
          }
        }
      }
    }


  }

  .right-side-wrapper{
    .right-side{
      background-color: white;
      padding: 5px;
    }

  }


}
