<div class="container">


  <div class="row">

    <!--<div class="d-none d-md-block col-md-3 left-side-wrapper">-->
    <!--22-->
    <!--</div>-->

    <!--<div class="col-12 col-md-9">-->
    <div  class="col-12 col-md-12 newsWrapper">
      <div class="row">
        <div class="col-12"><h2>{{news?.title}}</h2></div>
        <div class=" col-12 info"><span>{{news?.authorName}}</span><span>{{news?.createTime | date : 'yyyy-MM-dd hh:mm '}}</span><span> <i class="fa fa-eye"></i>{{news?.viewCount}}</span></div>
        <div class="col-12"><p class="summary">{{news?.digest}}</p></div>
      </div>
      <div class="row">

        <div class="col-12 contentWrapper" [innerHTML]="showHtml"></div>

      </div>
      <div class="row likeWrapper">

        <div class="col-12">
          <div class="heart" (click)="likeFn()"  [ngClass]="{'heartAnimation':like}" id="like1" rel="like">
          </div>
          <span *ngIf="!like">如果喜欢这篇文章 可以给我你的小心心吗？</span>
          <span *ngIf="like" style="color: #e2264d;font-weight: bold">Thanks!</span>
        </div>

        <!--<div class="dislike"><i class="fa fa-thumbs-o-down"></i></div>-->
      </div>

      <div class="row commentWrapper">
        <div class="col-12">
          <textarea rows="3" placeholder="文明上网 文明发言" class="comment-input"></textarea>
        </div>

        <div class="col-12 submit-wrapper">
        <button>发布</button>
        </div>
        <div class="col-12">评论列表</div>
      </div>

    </div>


  </div>


</div>
