@import "../../../mixin";
.container{
  margin-top: 15px;
  .newsWrapper{
    margin-top: 36px;
    background-color: white;
    @include mixin-box-shadow();
    padding-top: 30px;
    padding-bottom: 30px;
    //padding-bottom: 250px;
    //background-image: url("../../../assets/img/bgbm.png");
    //background-size: contain;
    //background-position: bottom center;
    //background-repeat: no-repeat;

    h2{
      font-size: 36px;
    }
    .info {
     text-align: left;
      width: 100%;
      & > span {
        font-size: 12px;
        color: #a1a1a1;
        &:not(:first-child){
          margin-left: 25px;
        }

        .fa {
          margin-right: 5px;
        }
      }
    }
    .summary{
      margin-top: 15px;
      margin-bottom: 15px;
      color: #505050;
      font-size: 14px;
      text-indent: 2em;
      background-color: #f8f8f8;
     padding: 15px;


    }

    .likeWrapper{
      height: 120px;
      text-align: center;
      position: relative;
      .heart{
        margin: 0 auto;

      }
      span {
        color: gray;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

    }

  }

  .commentWrapper{
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    .comment-input{
      width: 100%;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      padding: 15px;
    }
    .submit-wrapper{
      text-align: right;
     button{
       cursor: pointer;
     }
    }
    .comment-list{
      ul{
        @include ul-list;
        li{
          padding-top: 15px;
          padding-bottom: 15px;
          .comment-list-top{
            display: flex;
            .avatar{
              border-radius: 50%;
              height: 30px;
              width: 30px;
              img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
              }
            }
            .user-info {
              padding: 0 15px;
              flex:1;
              text-align: left;
              & > span {
                font-size: 12px;
                color: #a1a1a1;
                &:not(:first-child){
                  margin-left: 25px;
                }

                .fa {
                  margin-right: 5px;
                }
              }
            }
          }

          .comment-content{
            padding: 2px 40px;
          }
        }
      }

    }

  }

}


.heart {
  background: url(../../../assets/img/web_heart_animation.png) no-repeat left;
  height:100px;
  width:100px;
  cursor:pointer;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-size:2900%;
  animation: heartSize 0.5s alternate linear;
}
.heart:hover, .heart:focus{
  background-position:right;
}

@-webkit-keyframes heartSize {
  0% {
    height:100px;
    width:100px;
  }
  100% {
    height:130px;
    width:13px;
  }
}

@-webkit-keyframes heartBlast {
  0% {
    background-position:left;
  }
  100% {
    background-position:right;
  }
}

@keyframes heartBlast {
  0% {
    background-position:left;
  }
  100% {
    background-position:right;
  }
}

.heartAnimation {
  animation-name:heartBlast;
  animation-duration:.8s;
  animation-iteration-count:1;
  animation-timing-function:steps(28);
  background-position:right;
}
